  <h3>Car #<%= @car.id %></h3>

    <ul>
      <li><strong>Manufacturer:</strong> <%= @car.manufacturer.name %></li>
      <li><strong>Color:</strong> <%= @car.color %></li>
      <li><strong>Year:</strong> <%= @car.year %></li>
      <li><strong>Mileage:</strong> <%= @car.mileage %></li>
      <li><strong>Description:</strong> <%= @car.description %></li>
    </ul>
